<div class="footer-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <div class="footer-content" fxLayout="column" fxLayoutAlign="start center" [ngClass.lt-md]="'mobile'">
        <div class="info-container" fxLayout="row wrap" fxLayoutAlign="start start">
            <div class="col" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
                <h6>RESOURCES</h6>
                <a routerLink="/">About us</a>
                <a routerLink="how-it-works">How it works</a>
                <a routerLink="/">Terms and conditions</a>
                <a routerLink="/">Contact us</a>
            </div>
            <div class="col" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
                <h6>MOTIVATIONAL SPEAKER</h6>
                <a routerLink="/">Webinar (Coming Soon)</a>
                <a routerLink="/">Recent Speech (Coming Soon)</a>
                <a routerLink="/">Life Changer</a>
            </div>
            <div class="col" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
                <h6>EVENTS & BLOG</h6>
                <a routerLink="/">Upcoming events</a>
                <a routerLink="/">MP day. Aug 14th</a>
                <a routerLink="/">Reach-out shared love</a>
                <a routerLink="/">They need you</a>
            </div>
            <div class="social" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px" fxHide.lt-md>
                <a href="https://www.facebook.com" target="_blank" fxLayout="row" fxLayoutAlign="start center"><img src="assets/images/Facebook.svg" alt="">Facebook</a>
                <a href="https://www.instagram.com" target="_blank" fxLayout="row" fxLayoutAlign="start center"><img src="assets/images/Instagram.svg" alt="">Instagram</a>
                <a href="https://twitter.com" target="_blank" fxLayout="row" fxLayoutAlign="start center"><img src="assets/images/Twitter.svg" alt="">Twitter</a>
            </div>
        </div>
        <div class="logo-container" fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.lt-md="space-between center">
            <div fxLayout="column" fxLayoutAlign="start center" >
                <img src="assets/images/logo.svg" alt="">
                <small>Motivation pair is a leading new generation way of connecting people for a better purpose.</small>
            </div>
            <div class="social" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px" fxHide.gt-sm>
                <a href="https://www.facebook.com" target="_blank" fxLayout="row" fxLayoutAlign="start center"><img src="assets/images/Facebook.svg" alt="">Facebook</a>
                <a href="https://www.instagram.com" target="_blank" fxLayout="row" fxLayoutAlign="start center"><img src="assets/images/Instagram.svg" alt="">Instagram</a>
                <a href="https://twitter.com" target="_blank" fxLayout="row" fxLayoutAlign="start center"><img src="assets/images/Twitter.svg" alt="">Twitter</a>
            </div>
        </div>
    </div>
</div>
<div class="copyright" fxLayout="row" fxLayoutAlign="center center" fxLayout.lt-md="column" [ngClass.lt-md]="'mobile'">
    <p>Copyright © 2020</p>
    <p>Motivation Pairs. Find Your Motivator</p>
</div>
