<div class="newsletter-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <div class="newsletter-content" fxLayout="row" fxLayoutAlign="center start" [ngClass.lt-md]="'mobile'">
        <img src="assets/images/Newsletter.svg" alt="" fxHide.lt-lg>
        <div class="newsletter-form" fxLayout="column" fxLayoutAlign="start start">
            <h2><b>Newsletter </b>SignUp</h2>
            <p>By subscribing to our mailing list you will always be updated with our latest news, events and updates.</p>
            <input type="text" placeholder="Name">
            <input type="email" placeholder="E-mail">
            <button mat-button color="warn">
                Sign Up
            </button>
            <p>Your privacy is important to us and we will never rent or sell your information</p>
        </div>
    </div>
</div>