@import "src/assets/scss/index";

.explain-block {
  width: 100%;
  background: #FFF1EC;
  border-radius: 16px;
  padding: 32px;
  margin: 0 auto;
}

.hidden-content {
  max-height: 0;
  overflow: hidden;
  color: $blue-text-color;
  font-size: 16px;
  transition: max-height 500ms ease-out;
  padding: 0 80px 0 70px !important;
}

.arrow {
  transition: 500ms;
  filter: invert(17%) sepia(26%) saturate(6239%) hue-rotate(212deg) brightness(88%) contrast(89%);
  display: flex;
  margin-left: 25px;
}

.image-size {
  width: 47px;
  height: 47px;
}

.name-checked {
  border-bottom: 0;
  color: $primary-orange-color;
}

.arrow-checked {
  transform: rotate(180deg);
  filter: invert(66%) sepia(48%) saturate(6578%) hue-rotate(343deg) brightness(96%) contrast(97%);
}

label {
  font-size: 26px;
  font-weight: 800;
  color: $blue-text-color;
  padding: 0;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.flex-container {
  display: flex !important;
  align-items: center !important;
}

.vertical-content-divider {
  height: 30px;
}

@media (max-width: 960px) {
  .explain-block {
    width: 80%;
    padding: 24px;
  }

  label {
    font-size: 16px;
    display: block;
  }

  .image-size {
    width: 24px;
    height: 24px;
  }

  .hidden-content {
    padding: 0 !important;
  }

  .arrow {
    margin-left: auto;
  }
  .vertical-content-divider {
    height: 25px;
  }
}

